.App {
  background-color: #2b2929;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  color: white;
  background: url("../src/img/background.jpg");
   background-size: cover;

  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Montserrat-Bold';
}

.App-header p {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 2px solid #f1f1f1;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}

.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  flex-direction: row;

  width: 1300px;
  height: 360px;

  margin: 25px;
}


.CardRight {
  text-align: end;
}

.CardText {
  margin: 20px;
  width: 80%;
}

.title {
  color: rgb(33, 199, 102);
  font-size: 2.4em;
  font-family: 'Montserrat-Bold';
  font-weight: bold;
}

.desc {
  font-size: 1.5em;
  color: rgb(188, 188, 188);
}

.Card a {
  font-size: 1.3em;
}

.Card img {
  object-fit: cover;
  width: 640px;
  height: 360px;

  border-radius: 15px;
}

.GraphContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GraphContainer p {
  color: rgb(33, 199, 102);
  font-size: 2.4em;
  font-family: 'Montserrat-Bold';
  font-weight: bold;
}

.Footer {
  margin-top: 20px;
  padding: 30px;
  background-color: #282c34;
  text-align: center;
  font-size: 1.2em;
}
